In [1]:
import pandas as pd

df = pd.read_csv("More_Chocloate_Data.csv")
df

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TCL,Crops and livestock products,2,Afghanistan,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,0.0,R,Estimated data using trading partners database
1,TCL,Crops and livestock products,3,Albania,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,13.0,NaN,Official data
2,TCL,Crops and livestock products,4,Algeria,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,511.0,R,Estimated data using trading partners database
3,TCL,Crops and livestock products,7,Angola,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,0.0,R,Estimated data using trading partners database
4,TCL,Crops and livestock products,8,Antigua and Barbuda,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,2.0,NaN,Official data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,TCL,Crops and livestock products,237,Viet Nam,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,3450.0,Im,FAO data based on imputation methodology
284,TCL,Crops and livestock products,237,Viet Nam,5910,Export Quantity,661,"Cocoa, beans",2018,2018,tonnes,1634.0,Im,FAO data based on imputation methodology
285,TCL,Crops and livestock products,249,Yemen,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,NaN,NaN,Official data
286,TCL,Crops and livestock products,251,Zambia,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,920.0,NaN,Official data
287,TCL,Crops and livestock products,181,Zimbabwe,5910,Export Quantity,666,Chocolate products nes,2018,2018,tonnes,15.0,NaN,Official data

In [28]:
import numpy as np
# df = df.drop
values = [0]
df_nonzero = df[df.Value.isin(values) == False]


# df_nonzero.describe()
df_nz_choc = df_nonzero[df_nonzero.Item == "Chocolate products nes"]
df_nz_bean = df_nonzero[df_nonzero.Item == "Cocoa, beans"]


df_nz_choc_top = df_nz_choc.sort_values('Value',ascending=False).head(int(20))
df_nz_bean_top = df_nz_bean.sort_values('Value',ascending=False).head(int(20))


# keep_countries = df_nz_choc_top.Area.unique()
# df_nz_bean_top_keep = df_nz_bean_top[df_nz_bean_top.Area.isin(keep_countries) == True]
# print(df_nz_bean_top_keep.count())
# print(df_nz_bean_top_keep["Area"])

bean_exports, choc_export, countries = [],[],[]
country_list = np.unique(np.array(df_nz_choc_top["Area"].to_list()+df_nz_bean_top["Area"].to_list()))
# print(country_list)

total_bean_exports = df_nz_bean.Value.sum()
total_choc_exports = df_nz_choc.Value.sum()

for jj in range(len(country_list)):
# for jj in range(2):
    df_country = df[df["Area"] == country_list[jj]]
    df_temp1 = df_country[df_country["Item"] == "Cocoa, beans"]
    df_temp2 = df_country[df_country["Item"] == "Chocolate products nes"]
#     print(df_temp2.Value.to_list()[0])
    bean_exports.append(df_temp1.Value.to_list()[0]/total_bean_exports) 
    choc_export.append(df_temp2.Value.to_list()[0]/total_choc_exports) 
    #     bean_exports.append(df_country[df_country["Item"] == "Cocoa, beans"].Value.to_list()[0]) 
#     choc_export.append(df_country[df_country["Item"] == "Chocolate products nes"].Value.to_list()[0]) 
print(bean_exports)
# df_nz_choc_keep = df_nz_choc[df_nz_choc.Area.isin(keep_countries) == True]
# # df_nz_bean_keep = df_nz_choc[df_nz_bean.Value.isin(keep_countries ) == False]
# print(df_nz_choc_keep.count())
# print(df_nz_bean.count())


# for country in df["Area"].unique():
#     df_country = df[df["Area"] == country]
#     if

[2.736822984469135e-05, 0.04582289364536345, 0.36949386939541645, 0.052990705700705396, 0.0021739577972207927, 6.781508280100511e-06, 0.0020925796978595863, 0.017895915957736673, 0.0712210953346856, 0.00026399442947534134, 0.002407677636159971, 0.2043270866761527, 0.006739608246798462, 0.00022839151100481365, 0.0024176077018558326, 0.0024544216039478067, 0.0376790287911356, 0.0001152856407617087, 0.0575963186097908, 0.07136592897581061, 0.00879343646877176, 0.015008931004208168, 6.030698434803669e-05, 3.124337743332021e-05, 0.003571190699645787, 1.1625442765886592e-05, 8.622203384699221e-05, 2.42196724289304e-07, 0.00011770760800460173, 0.0004994096454845449, 0.007452393206381884, 4.84393448578608e-07, 0.00017535042838545608, 0.002459992128606461, 0.0015689503799461112]

In [29]:
dict_new = {"Country": country_list, "Bean Exports": bean_exports, "Chocolate Exports":choc_export}
df_new =  pd.DataFrame(dict_new)
df_new.describe()

       Bean Exports  Chocolate Exports
count  3.500000e+01          35.000000
mean   2.820451e-02           0.024321
std    7.092158e-02           0.032529
min    2.421967e-07           0.000000
25%    1.164966e-04           0.000260
50%    2.407678e-03           0.013081
75%    1.645242e-02           0.034441
max    3.694939e-01           0.142143

In [ ]:
df_new = df_new.sort_values(by='Bean Exports', ascending=False)